Required format for `site_hosts` (group_vars/{{ env }}/wordpress_sites.yml):

wpmusite.dev:
  site_hosts:
    - canonical: wpmusite.dev

The above is the minimum required. Multiple hosts and redirects are possible:

wpmusite.dev:
  site_hosts:
    - canonical: wpmusite.dev
      redirects:
        - www.wpmusite.dev
        - site.com
    - canonical: example.co.uk
      redirects:
        - www.example.co.uk
